.chart-toolbar {
  min-height: 6vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.75);
}

.chart-toolbar button {
  font-size: 20px;
}

.chart-block {
  display: flex;
  flex-wrap: wrap;
}

.chart-item {
  width: 50%;
  min-height: 47vh;
}

.chart-select {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chart-select-label {
  margin-right: 5px;
  margin-left: 20px;
}
