.chart-item-body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-shadow: none;
  background: transparent;
}

.chart-actions {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.chart-color-input {
  width: 100px;
}

.chart {
  position: absolute;
  top: 2%
}

.chart-actions-button {
  margin-right: 3px;
}
